<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="headController">
<head>
	<meta charset="utf-8">
	<title>web前端导航</title>
	<link rel="stylesheet" href="../style/themes/{{themeColor}}.css" />
	<link rel="stylesheet" href="../style/right.css" />
	<link rel="shortcut icon" href="http://localhost:8000/favicon.ico">
</head>
<body>
	<header class="navbar">
		<div class="ui-container-wrap">
			<div class="fl logo">蘸“前”顾“后”</div>
			<ul class="fr nav">
				<li>
					<a class="a-link ft-helvetica" href="javascript:0">Blog</a>
				</li>
				<li>
					<a class="a-link ft-helvetica" ng-click="showColor()" href="javascript:0">Color</a>
					<ul ng-class="{true: 'sub-nav', false: 'hidden'}[isColor]">
						<li ng-repeat="color in allThemes"><a class="a-sub-link" ng-click="changeThemes('{{color}}')" href="javascript:0">{{color}}</a></li>
					</ul>
				</li>
			</ul>
	</header>

	<main class="ui-main-wrap">
		<div class="ui-left-wrap">
			<div class="gray-wrap">
				<ul class="nav-tree">
					<li draggable='btn-yellow' class="menu-btn btn-yellow">
						<span class="circle-wrap">
							<i class="i-1"></i>
							<i class="i-2"></i>
							<i class="i-3"></i>
						</span>
					</li>
					<li draggable='btn-green' class="menu-btn btn-green">
						<span class="circle-wrap">
							<i class="i-1"></i>
						</span>
					</li>
				</ul>
				<div ng-class="openBtn" class="open-lock">
					<span class="circle-wrap">
						<i class="i-1"></i>
						<i class="i-2"></i>
						<i class="i-3"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="ui-right-wrap" drop-wrap>
			<div class="left" drag-change="true">
				<img class="active-bg" icon-mask ng-repeat="app in app_icon" src="{{app.icon}}" base="{{app.base}}" shape="{{app.mask}}"  />
			</div>
			<div class="middle" drag-change="true"></div>
			<div class="right" drag-change="true"></div>
		</div>
	</main>

	<script src="../vender/angular/1.1.5/angular.js"></script>
	<script src="../script/index.js"></script>
	<script src="../script/services/mainService.js"></script>
	<script src="../script/controllers/mainControllers.js"></script>
	<script src="../script/directives/mainDirectives.js"></script>
	<script src="../script/directives/iconmask/maskDirectives.js"></script>
	<script src="../script/directives/draggable/dragDirectives.js"></script>
</body>
</html>