<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="headController">
<head>
	<meta charset="utf-8">
	<title>web前端导航</title>
	<link rel="stylesheet" href="../style/themes/{{themeColor}}.css" />
	<link rel="stylesheet" href="../style/right.css" />
	<link rel="shortcut icon" href="http://localhost:8000/favicon.ico">
</head>
<body>
	<header class="navbar">
		<div class="ui-container-wrap">
			<div class="fl logo">蘸“前”顾“后”</div>
			<ul class="fr nav">
				<li>
					<a class="a-link ft-helvetica" href="javascript:0">Blog</a>
				</li>
				<li>
					<a class="a-link ft-helvetica" ng-click="showColor()" href="javascript:0">Color</a>
					<ul ng-class="{true: 'sub-nav', false: 'hidden'}[isColor]">
						<li ng-repeat="color in allThemes"><a class="a-sub-link" ng-click="changeThemes('{{color}}')" href="javascript:0">{{color}}</a></li>
					</ul>
				</li>
			</ul>
	</header>

	<main class="ui-main-wrap">
		<div class="ui-left-wrap">
			<div class="gray-wrap">
				<ul class="nav-tree">
					<li menudrag='btn-yellow' mydrag="blue" class="menu-btn btn-yellow">
						<span class="circle-wrap">
							<i class="i-1"></i>
							<i class="i-2"></i>
							<i class="i-3"></i>
						</span>
					</li>
					<li menudrag='btn-green' class="menu-btn btn-green">
						<span class="circle-wrap">
							<i class="i-1"></i>
						</span>
					</li>
				</ul>
				<div ng-class="openBtn" class="open-lock">
					<span class="circle-wrap">
						<i class="i-1"></i>
						<i class="i-2"></i>
						<i class="i-3"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="ui-right-wrap" drop-wrap>
			<!-- <div class="drag-wrap">
				<div class="col-1" drag-change preview-demo>
					<canvas bgimg='../image/tmp/wallpaper-hd1.jpg' pos="center" width="213" height="378"></canvas>
					<span class="inner" src="../image/tmp/pw04time.png" posX="10" posY="35"></span>
					<span class="inner" src="../image/tmp/pw05bar.png"  posX="0" posY="0"></span>
					<ul posX="10" posY="330" margin="10">
						<li ng-repeat="app in app_icon" ng-src="{{app.icon}}" text="{{app.text}}" width="30"></li>
					</ul>
				</div>
				<div class="col-2" drag-change preview-demo>
					<canvas bgimg='../image/tmp/wallpaper-hd1.jpg' pos="left" width="213" height="378"></canvas>
					<span class="inner" src="../image/tmp/pw05bar.png"  posX="0" posY="0"></span>

					<ul posX="10" posY="30" margin="10">
						<li ng-repeat="app in app_icon" ng-src="{{app.icon}}" text="{{app.text}}" width="40"></li>
					</ul>

					<ul posX="40" posY="335" margin="20">
						<li src="../image/tmp/ap_search.png" text="" width="30"></li>
						<li src="../image/tmp/ap_home.png" text="" width="30"></li>
						<li src="../image/tmp/ap_menu.png" text="" width="30"></li>
					</ul>
				</div>
				<div class="col-3" drag-change preview-demo>
					<canvas bgimg='../image/tmp/wallpaper-hd1.jpg' pos="right" width="213" height="378"></canvas>
					<span class="inner" src="../image/tmp/bettery_widget.png" posX="10" posY="40"></span>
					<span class="inner" src="../image/tmp/pw05bar.png"  posX="0" posY="0"></span>
					<ul posX="10" posY="330" margin="10">
						<li ng-repeat="app in app_icon" ng-src="{{app.icon}}" text="{{app.text}}" width="30"></li>
					</ul>
				</div>
			</div> -->

			<div class="drag-wrap">
				<div class="preview" preview-canvas theme="theme" sence="home">
				</div>
				<div class="preview" preview-canvas theme="theme" sence="apps">
				</div>
				<div class="preview" preview-canvas theme="theme" sence="widget">
				</div>
			</div>
		</div>
	</main>

	<script src="../vender/angular/1.1.5/angular.js"></script>
	<script src="../script/index.js"></script>
	<script src="../script/services/mainService.js"></script>
	<script src="../script/controllers/mainControllers.js"></script>

	<script src="../script/directives/mainDirectives.js"></script>
	<script src="../script/directives/iconmask/maskDirectives.js"></script>
<!--
	<script src="../script/directives/draggable/dragDirectives.js"></script>
-->
	<script src="../script/directives/draggable/wrapDragDrop.js"></script>
	<script src="../script/directives/previewCanvas/previewCanvas.js"></script>
	<script src="../script/directives/previewCanvas/previewDirectives.js"></script>
</body>
</html>