lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sh
*.bat
*.rb

pids
logs
results

npm-debug.log
node_modules
build/
app/image/default_theme/app_icon/com_android_calculator2_com_android_calculator2_calculator.png
app/image/default_theme/
