@import "./base/bundles/html5spec.mixin.less";

.nav-tree {
	height: 500px;
}
.open-lock {
	float: right;
	width: 150px;
	height: 170px;
	border-top-left-radius: 15px;
	.gradient-direction( #17AEF3, #94E7FF);
}
.menu-btn {

}

.btn-green {
	width: 200px;
	height: 150px;
	border-radius: 10px 50px 0px 10px;
	.gradient-direction( #64C514, #AEDA14);
	&:after {
		content: "";
		border: 0 solid transparent;
		border-bottom: 15px solid #89CF14;
		border-radius: 0 0 0 50px;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 138px;
		left: 140px;
		.rotate (-90);
	}
}
