.left {
	background: blue;
}
.middle {
	background: lightgreen;
}
.right {
	background: purple;
}

.col-1 {
	width: 100px;
	height: 500px;
}
.col-3 {
	width: 300px;
	height: 200px;
}
.col-5 {
	width: 500px;
	height: 500px;
}
[class*=col] {
	// margin: 20px;
	float: left;
}
.hide {
	display: none;
}
.drag-placeholder {
	background: lightblue;
}
/*============================================*/
.active-bg {
	width: 56px;
	height: 56px;
	border: 1px solid transparent;
	cursor: pointer;
	-webkit-transition: all .5s;
	transition: all .5s;

	&:hover {
		border: 1px solid #25D4DF!important;
		box-shadow: 0 0 20px #25D4DF inset,0 0 20px #25D4DF;
		border-radius: 6px;
	}
}